<?xml version="1.0" encoding="utf-8" ?>
<tinymceConfig>
  <commands>
	<command>
      <umbracoAlias>Templates</umbracoAlias>
      <icon>images/editor/template.gif</icon>
      <tinyMceCommand value="" userInterface="true" frontendCommand="template">template</tinyMceCommand>
      <priority>76</priority>
    </command>
  </commands>
  <plugins>
    <plugin loadOnFrontend="false">template</plugin>
  </plugins>
  <customConfig>
	<config key="template_external_list_url">/inc/editor_templates/editor_templates.js</config>
  </customConfig>
</tinymceConfig>